*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* width: 1900px; */
}



.row{
    position:relative;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

.pad{
    padding: 10px 15px;
}

.fl{
    float: left;
}

.fr{
    float:right;
}

img{
    width:100%;
}

.menu ul{
    list-style-type:none;
}

.menu ul li{
    display: inline-block;
    color: black;
    /* font-weight: bold; */
    font-size: 15px;
}

.logo{
    vertical-align: middle;
}

.button button{
    border-width: 0px;
    padding: 5px 20px;
    background-color: #0063ff;
    color: #fff;
}

.display{
    display: inline-block;
}

.box_in_row{
    width: 33.3333%;
    /* height: 100px;
    background-color:coral; */
    height: 800px;
    /* height: 600px; */
    font-size:14px;
}
.pr{
    padding-right: 15px;
}

.pl{
    padding-left: 15px;
}

.pl_pr{
    padding: 0 10px;
}

.box{
    border: 1px solid #e9e9e9;
    padding: 0 15px;
    height: 100%;
}

.description{
    margin:10px 0;
}

.b-box{
    margin: 30px 0;
    text-align: center;
}

.b-box button{
    width:100%;
}

.lista{
    margin-top:50px;
}

.lista h4{
    text-align: center;
}

.lista ul{
    list-style-type: none;
    /* padding-top: 20px; */
}

.lista ul li{
    margin-top: 15px;
}

.pt{
    padding-top: 10px;
}

.pt_pb{
    padding: 30px 0;
}

.pb{
    padding-bottom: 20px;
}

.container_footer{
    width:1100px;
    margin: 0 auto;
}

footer{
    background:#000;
}
/* <---------------------------------------------------------------> */


.menu_left ul li{
    padding-left: 20px;
}

.menu_right ul li{
    padding-right: 20px;
}

.jumbotron{
    background-color: #add1ea;
    padding-top:30px;
}

.jumbotron_content{
    width: 1000px;    
    margin: 0 auto;
    padding-bottom: 30px;
}

.jumbotron_content h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.text_row_jumbotron{
    width:35%;
}

.text_row_jumbotron .button{
    margin-top: 20px;
    margin-bottom:10px;
}

.down_arrow::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f063";
    color: #000;
    font-size:30px;
}

.img_row_jumbotron{
    width: 60%;
    padding-left: 20px;
    position: relative;
    /* right: 0; */
}

.img_row_jumbotron img{
    position: absolute;
}

.container_main{
    width: 900px;
    /* height: 800px; */
    /* background-color:burlywood; */
    margin: 0 auto;
}

.piano_business{
    margin-top:130px;
}

form{
    margin: 20px 0;
}

form span{
    margin-right: 10px;
}

.alone::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    color: #000;
    font-size:20px;
}

.indirizzato{
    padding: 10px 0;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
}

.team::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1ad";
    color: #000;
    font-size:20px;
}

.user_wt::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    color: #000;
    font-size:20px;
}

.user_plus::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f234";
    color: #000;
    font-size:20px;
}

.storage::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f07b";
    color: #000;
    font-size:20px;
}
.file::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f303";
    color: #000;
    font-size:20px;
}

.lista ul li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: #0063ff;
    font-size:20px;
}

.container_contatta{
    border: 1px solid #e9e9e9;
    margin: 50px 0;
}

.text{
    width: 70%;
}

.container_contatta .row .button button{
    width: 100%;
}

.container_contatta .row .button{
    display: inline-block;
    width: 30%;
    padding-left:0;
    padding-right:0;
}

.contenuto_img{
    width:55%
}

.text_partner{
    width: 45%;
}

.testo_lungo{
    margin:20px 0;
}

.content_drow{
    width: 33.333%;
}

.section_drow{
    margin:60px 0;
}

.section_drow .row .content_drow{
    margin-top: 40px;
}

main{
    padding-bottom: 30px;
}

.numero_clienti div{
    width: 50%;
}

.numero_clienti div h2{
    margin: 20px 0;
}

a{
    text-decoration: none;
    
}

.numero_clienti div a{
    font-weight:bold;
}

.collaboratori{
    height: 310px;
    margin-top: 40px;
}

.side_collaboratori{
    width: 30%; 
}

.img_collaboratori{
    width: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.cl_green{
    background-color: lightgreen;
}

.cl_brown{
    background-color: brown;
}

.cl_blue{
    background-color: lightskyblue;
}

.cl_orange{
    background-color: lightcoral;
}

.central_collaboratori{
    width: 40%;
    padding: 20px;
}

.img_top{
    width: 130px; 
    margin-bottom: 20px; 
}

.central_collaboratori .testo p{
    margin-top: 40px;
}

.free_try{
    background: lightcyan;
    color: lightsalmon;
    padding: 70px 0;
}

.testo_free{
    width: 50%;
}

.button_free{
    background-color: #fff;
}

.free_try button{
    background-color: #fff;
    color:black;
}

.border_b{
    border-bottom: 1px #000 solid;
}

.box_footer{
    width: calc(100% / 5);
    color: cornsilk;
}

.box_footer ul{
    list-style: none;
}

