*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}



.row{
    position:relative;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

.pad{
    padding: 10px 15px;
}

.fl{
    float: left;
}

.fr{
    float:right;
}

img{
    width:100%;
}

.menu ul{
    list-style-type:none;
}

.menu ul li{
    display: inline-block;
    color: black;
    /* font-weight: bold; */
    font-size: 15px;
}

.logo{
    vertical-align: middle;
}

.button button{
    border-width: 0px;
    padding: 5px 20px;
    background-color: #0063ff;
    color: #fff;
}

.display{
    display: inline-block;
}

.box_in_row{
    width: 33.3333%;
    /* height: 100px;
    background-color:coral; */
    height: 800px;
    /* height: 600px; */
    font-size:14px;
}
.pr{
    padding-right: 15px;
}

.pl{
    padding-left: 15px;
}

.pl_pr{
    padding: 0 15px;
}

.box{
    border: 1px solid #e9e9e9;
    padding: 0 15px;
    height: 100%;
}

.description{
    margin:10px 0;
}

.b-box{
    margin: 30px 0;
    text-align: center;
}

.b-box button{
    width:100%;
}

.lista{
    margin-top:50px;
}

.lista h4{
    text-align: center;
}

.lista ul{
    list-style-type: none;
    /* padding-top: 20px; */
}

.lista ul li{
    margin-top: 15px;
}

.pt{
    padding-top: 10px;
}
/* <---------------------------------------------------------------> */


.menu_left ul li{
    padding-left: 20px;
}

.menu_right ul li{
    padding-right: 20px;
}

.jumbotron{
    background-color: #add1ea;
    padding-top:30px;
}

.jumbotron_content{
    width: 1000px;    
    margin: 0 auto;
    padding-bottom: 30px;
}

.jumbotron_content h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.text_row_jumbotron{
    width:35%;
}

.text_row_jumbotron .button{
    margin-top: 20px;
    margin-bottom:10px;
}

.down_arrow::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f063";
    color: #000;
    font-size:30px;
}

.img_row_jumbotron{
    width: 60%;
    padding-left: 20px;
    position: absolute;
    right: 0;
}

.container_main{
    width: 900px;
    /* height: 800px; */
    /* background-color:burlywood; */
    margin: 0 auto;
}

.piano_business{
    margin-top:130px;
}

form{
    margin: 20px 0;
}

form span{
    margin-right: 10px;
}

.alone::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    color: #000;
    font-size:20px;
}

.indirizzato{
    padding: 10px 0;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
}

.team::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1ad";
    color: #000;
    font-size:20px;
}

.user_wt::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    color: #000;
    font-size:20px;
}

.user_plus::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f234";
    color: #000;
    font-size:20px;
}

.storage::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f07b";
    color: #000;
    font-size:20px;
}
.file::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f303";
    color: #000;
    font-size:20px;
}

.lista ul li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: #0063ff;
    font-size:20px;
}

.container_contatta{
    border: 1px solid #e9e9e9;
    margin: 50px 0;
}

.text{
    width: 70%;
}

.container_contatta .row .button button{
    width: 100%;
}

.container_contatta .row .button{
    display: inline-block;
    width: 30%;
    padding-left:0;
    padding-right:0;
}